@import "./components/header.css";
@import "./components/hero.css";
@import "./components/transitions.css";
@import "./components/aboutme.css";
@import "./components/skills.css";
@import "./components/hobbies.css";
@import "./components/reset.css";
@import "./components/academic.css";
@import "./components/portfolio.css";
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background: url(../images/0x0.png);
  background-size: auto;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.data-container {
  max-inline-size: 1136px;
  margin: auto;
  margin-block: 2.5rem;
}

:root {
  --black: #262626;
  --bg-blue: #eaf2fd;
  --bg-darkblue: #263762;
  --purple: #3d1c7a;
  --purpleShadow: #641a91;
  --blue-hobbie: #3255ad;
}
