.aboutMe {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutMe__image img {
  max-inline-size: 400px;
  max-block-size: 300px;
}

.aboutMe__text {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-inline-size: 650px;
}

.aboutMe__text h2 {
  font-size: 40px;
  margin: 0;
}

@media (max-width: 830px) {
  .aboutMe {
    flex-direction: column;
  }
  .aboutMe__image img {
    block-size: 300px;
  }
  .aboutMe__text {
    text-align: center;
    max-inline-size: 400px;
  }
}
