.aboutMe {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutMe__image img {
  inline-size: 400px;
  block-size: 400px;
}

.aboutMe__text {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.aboutMe__text h2 {
  font-size: 40px;
  margin: 0;
}
