.banner {
  display: flex;
  margin-block-start: 4rem;
  margin-block-end: 4rem;
  align-items: center;
}

.hero {
  display: flex;
  margin: auto;
}
.hero__text {
  max-inline-size: 600px;
  flex-wrap: wrap;
}
.hero__text h1 {
  font-size: 52px;
}
.hero__image {
  display: flex;
  justify-content: center;
}
.hero__image img {
  max-inline-size: 368px;
  max-block-size: 368px;
}

.hero__link {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 0;
  font-size: 32px;
  justify-content: center;
}

.hero__text i {
  color: white;
}

.hero__link li:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

@media (max-width: 830px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero__image {
    order: -1;
  }
  .hero__text {
    inline-size: 350px;
  }
  .hero__socials p {
    display: none;
  }
  .hero__socials ul {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
}
