.banner {
  display: flex;
  margin-block-start: 4rem;
  margin-block-end: 4rem;
  align-items: center;
}

.hero {
  display: flex;
  margin: auto;
}
.hero__text {
  max-inline-size: 600px;
  flex-wrap: wrap;
}
.hero__text h1 {
  font-size: 52px;
}
.hero__image img {
  max-inline-size: 368px;
  max-block-size: 368px;
}

.hero__link {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 0;
}

.hero__link li:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
