/*Main Styling*/
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 5rem;
}

.portfolio__intro {
  text-align: center;
}

.portfolio__projects {
  max-inline-size: 550px;
  margin-block-end: 20rem;
}

.portfolio__div {
  margin-block: 3rem;
  display: grid;
  grid-template-columns: repeat(1, 700px);
  gap: 5rem;
}

.project__image img {
  max-inline-size: 700px;
}

.project__title {
  text-align: center;
}

.project__title i {
  color: white;
}

.project--front {
  position: absolute;
  padding: 1rem;
  border-radius: 12px;
  background-color: var(--purple);
  z-index: 1;
}

.project__description {
  margin-block-start: 2rem;
}

.moreInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moreInfo,
p,
i {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.reduceInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reduceInfo i {
  color: white;
}

/*"animated" styling*/

.dropped {
  padding: 1rem;
  transform: translateY(400px);
  transition: all 0.7s;
  background-color: var(--purple);
  inline-size: 700px;
  margin-block-end: 5rem;
  border-radius: 12px;
}
.undrop {
  transform: translateY(0px);
  transition: all 0.7s;
}
.hide {
  display: none;
}

/* Button Styling */
.project__buttons {
  display: flex;
  justify-content: space-between;
  padding-block-start: 1rem;
}
.project__buttons button {
  padding: 0.5rem;
  background-color: #410f04;
  border: none;
  border-radius: 5px;
}

.project__buttons a {
  color: white;
  font-family: "Raleway", sans-serif;
}
